<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>wnq@jqgzrqvn.pbz</string>
	<key>contactName</key>
	<string>Jad Bitar</string>
	<key>description</key>
	<string>Personal customization bundle to overload other bundles commands, snippets, etc.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
      <string>45ABC129-3A80-44EF-A4FC-52C78474BB3A</string>
      <string>45ABC130-3A80-44EF-A4FC-52C78474BB3A</string>
			<string>45ABC131-3A80-44EF-A4FC-52C78474BB3A</string>
			<string>45ABC132-3A80-44EF-A4FC-52C78474BB3A</string>
			<string>45ABC133-3A80-44EF-A4FC-52C78474BB3A</string>
			<string>45ABC134-3A80-44EF-A4FC-52C78474BB3A</string>
		</array>
		<key>submenus</key>
		<dict>
      <key>45ABC129-3A80-44EF-A4FC-52C78474BB3A</key>
      <dict>
          <key>items</key>
          <array>
            <string>0FAEF3E6-7283-4F51-9D06-A1C90B464299</string>
          </array>
          <key>name</key>
          <string>Apache</string>
      </dict>
      <key>45ABC130-3A80-44EF-A4FC-52C78474BB3A</key>
      <dict>
          <key>items</key>
          <array>
            <string>1E6E7B98-8AC8-4C3B-9146-8CE38DA2BC0D</string>
            <string>F46258A8-09AC-408F-B5AA-9892C5C3DE74</string>
          </array>
          <key>name</key>
          <string>LESS</string>
      </dict>
      <key>45ABC131-3A80-44EF-A4FC-52C78474BB3A</key>
      <dict>
          <key>items</key>
          <array>
            <string>52617645-487C-493F-83A6-4F86D0B723FD</string>
            <string>------------------------------------</string>
            <string>667E28DA-4C14-42AA-8489-4CAAC835C6EF</string>
            <string>96941C36-A23F-49D6-B592-D2BAF5E90FA4</string>
            <string>345EBA59-0CB1-49EA-9940-E4AFDA36DD17</string>
            <string>------------------------------------</string>
            <string>6E9D2E48-E400-462C-84B1-6EE677F596FC</string>
            <string>D3EDA493-3CA2-477B-884C-5C75BA826A30</string>
            <string>E5A65AFD-E27A-495C-AECC-E86943158E9C</string>
            <!--
            <string>55ABC131-3A80-44EF-A4FC-52C78474BB3A</string>
            -->
          </array>
          <!--
          <key>submenus</key>
          <dict>
            <key>55ABC131-3A80-44EF-A4FC-52C78474BB3A</key>
            <dict>
              <key>items</key>
              <array>
                <string>96941C36-A23F-49D6-B592-D2BAF5E90FA4</string>
                <string>345EBA59-0CB1-49EA-9940-E4AFDA36DD17</string>
              </array>
              <key>name</key>
              <string>Declarations</string>
            </dict>
          </dict>
          -->
          <key>name</key>
          <string>PHP</string>
      </dict>
      <key>45ABC132-3A80-44EF-A4FC-52C78474BB3A</key>
      <dict>
          <key>items</key>
          <array>
            <string>69D5FAED-01F9-4EA5-95DD-AA0083649386</string>
            <string>------------------------------------</string>
            <string>DF91258D-1130-4B68-9C2A-77DC921E5F0B</string>
          </array>
          <key>name</key>
          <string>PHPCodeSniffer</string>
      </dict>
      <key>45ABC133-3A80-44EF-A4FC-52C78474BB3A</key>
      <dict>
          <key>items</key>
          <array>
            <string>74F741AC-7DA6-43CD-80E6-DBB3EBFC1727</string>
          </array>
          <key>name</key>
          <string>PHPDoc</string>
      </dict>
			<key>45ABC134-3A80-44EF-A4FC-52C78474BB3A</key>
			<dict>
				<key>items</key>
				<array>
					<string>3720B484-021E-438C-ACF4-AF77E2B0CCE8</string>
					<string>2A2A1DEE-3A64-4238-B5F0-6392151D9F42</string>
					<string>------------------------------------</string>
					<string>60F58CC1-5BFA-4565-ADCE-C4F79D1306B3</string>
					<string>F0870DF4-7101-4BE8-A0E9-32701C3489AC</string>
					<string>D1792921-A722-4D83-BB29-2727488A49F2</string>
					<string>AD29C81C-8C95-451D-951D-B5468C7721E6</string>
				</array>
				<key>name</key>
				<string>PHPUnit</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Customize</string>
	<key>uuid</key>
	<string>CD91C7F8-F065-4349-8CF4-5CEF01AC1137</string>
</dict>
</plist>
